
*{
    font-family: 'Roboto', sans-serif;
}
.gotop{
    font-weight: bolder;
    color: blue;
}
body{
    background-color: rgb(176, 138, 88);
}
header{
    height: 50px;
    width: 60%;
    padding: 20px;
    background-color:antiquewhite;
    margin-left: auto;
    margin-right: auto;
}
header nav{
    display: inline-block;
}
header nav a{
    font-size: 20px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(12, 4, 4);
}

header nav a:hover{
    color: rgb(1, 19, 19);
    font-weight: bolder;
    border-bottom: 4px solid black;
    font-style: italic;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}
.accueil{
    position: relative;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: antiquewhite;
    left: 470px;
    bottom: 200px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.photo{
    position: relative;
    height: 350px;
    width: 350px;
    top: 150px;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
h2{
    text-align: center;
    font-weight: bold;
}
footer{
    height: 130px;
    width: 600px;
    background-color: antiquewhite;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
}

footer a{
    color: black;
    font-weight: bolder;
}
